<nav class="navbar navbar-expand navbar-light bg-natural-95 border-top py-6">
  <div class="container">
    
    <div class="collapse navbar-collapse d-flex flex-wrap justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto d-flex flex-wrap justify-content-center">
        <li class="nav-item">
          <a class="nav-link py-2 px-lg-6 px-4 fs-8 fs-lg-7" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-lg-6 px-4 fs-8 fs-lg-7" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-lg-6 px-4 fs-8 fs-lg-7" href="#">聯絡我們</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link py-2 px-lg-6 px-4 fs-8 fs-lg-7" href="#">隱私權政策</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-lg-6 px-4 fs-8 fs-lg-7" href="#">用戶條款</a>
        </li>
      </ul>
      <p class="text-natural-50 fs-8">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
  </div>
</nav>