
.side-width{
    width: 300px;
}


// scss 縮寫用法
@mixin pad{
    // css用法
    @media(min-width: 992px){
        @content;
    }
}

.btn-pd {
        padding: 12px;
    @include pad{
        padding: 12px 20px;
    }
}


.email-text{
    font-size: 14px;
    color: #667F99;
}

.password-modal{
    max-width: 480px;
}

.password-modal-header{
    padding: 18px 24px;
}

// .tab-btn-bg{
//     .nav-link{
//     background-color: $white;
//     }
// }

